extends layout

block content
    link(rel='stylesheet' href='/stylesheets/collection.css')
    //- title: 
    #collection-grid
        #left-whitespace
        #collection-list 
            h3 Hike Collections 
                a(href='/collections/edit') (Edit)
            if userCollections
                ul 
                    each coll in userCollections 
                        li: a(href=`/collections/${coll.id}`) #{coll.name}
            button.btn(id="collection-add") Add a Collection
        #hikes-display
            h2.center #{collectionName}
            if displayHikes
                table
                    thead
                        tr.hike-row
                            th View 
                            th Name 
                            th Review
                            th City/Park
                            th State
                            th Length
                            th Elevation Change
                            th Difficulty 
                            th Route Type
                    tbody
                        each hike in displayHikes 
                            tr.hike-row
                                td: img.table-img(src=`${hike.imgUrl}`)
                                td.hike-text= hike.name 
                                td Stars
                                td.hike-text= hike.CityPark.dataValues.name
                                td.hike-text.center= hike.State.dataValues.abbreviation
                                td.hike-text.center= hike.length 
                                td.hike-text.center= hike.elevationChange
                                td.hike-text.center= hike.Difficulty.dataValues.level 
                                td.hike-text.center= hike.RouteType.dataValues.name
                                

            else 
                p No hikes in the collection! 
                p Find some hikes and add them, get to exploring!
        #right-whitespace
    
