extends layout

include utils.pug
block content
  link(rel='stylesheet' href='/stylesheets/hike.css')
  link(rel="stylesheet" href="/stylesheets/review-form.css")
  link(rel="stylesheet" href="/stylesheets/review-edit-delete.css")
  script(src='/javascripts/reviews.js')
  script(src='/javascripts/collections.js')
  script(src='/javascripts/reviews-edit.js')
  script(src='/javascripts/reviews-delete.js')
  div.hike-page(id=`hikeId-${hike.id}`)
    div.hike-title(style=`background-image: linear-gradient(to bottom, rgba(0,0,0, 0), rgba(0,0,0,0.5)),url('${hike.imgUrl}'`)
      div(id=`hikeId-${hike.id}`).hike-name #{hike.name}
      div.hike-level-review
        div.hike-level #{hike.Difficulty.level}
        div.hike-review
          div.hike-stars
            span.star-sprite(style=`width:${avgReviewPtg}%`)
          div.hike-avg-review  (#{reviewCount})
      div.hike-location #{hike.CityPark.name}, #{hike.State.state}
    div.hike-content
      div.hike-details
        div.hike-description #{thisHikeDescription}
        div.hike-key
          div.hike-key-wrap
            div.hike-key-title Length
            div.hike-key-detail #{hike.length} miles
          div.hike-key-wrap
            div.hike-key-title Elevation gain
            div.hike-key-detail #{hike.elevationChange} ft
          div.hike-key-wrap
            div.hike-key-title Route type
            div.hike-key-detail #{hike.RouteType.name}
        div.reviews
          div.rating-table-add-review
            table.rating-bar-table
              tbody
                tr
                  td 5
                  td.one-star-sprite
                  td
                    div.bar(style=`width:${avgRatingPercentage[4]}%`)
                tr
                  td 4
                  td.one-star-sprite
                  td
                    div.bar(style=`width:${avgRatingPercentage[3]}%`)
                tr
                  td 3
                  td.one-star-sprite
                  td
                    div.bar(style=`width:${avgRatingPercentage[2]}%`)
                tr
                  td 2
                  td.one-star-sprite
                  td
                    div.bar(style=`width:${avgRatingPercentage[1]}%`)
                tr
                  td 1
                  td.one-star-sprite
                  td
                    div.bar(style=`width:${avgRatingPercentage[0]}%`)
            button(id=`review-for-${hike.id}` data-user=`${loggedInUserId}`).btn.add-review-btn Write a Review
          div.bg-modal.hidden
            form(id='add-review-form' class="hidden form-control")
                div.form-star-rating
                  button.star &#9734
                  button.star &#9734
                  button.star &#9734
                  button.star &#9734
                  button.star &#9734
                +field("Comment (optional)", "comment", null, false, "textarea")
                +field("Date Hike (optional)", "dateHike", null, false, "date")
                div.add-errors
                div.review-buttons
                  button#add-review-cancel.btn Cancel
                  button#add-review-submit.btn  Submit
            include review-template.pug
          .reviews-container
            each review in reviews
              div(id=`reviewId-${review.id}`).review.form-control
                div.rating-username
                    div(id=`${review.User.id}`).username #{review.User.username}
                    .stars-and-rating
                      div.stars
                        span.star-sprite(style=`width:${review.rating/5*100}%`)
                      .review-rating #{review.rating}
                .comment #{review.comment}
                div.dateHike-edit-delete-block-container
                  .dateHike
                    if (review.dateHike)
                      span Date hiked #{review.dateHike}
                  if loggedInUserId === review.User.id
                    .delete-edit-block
                      button(id=`delete-${review.id}`).delete-review Delete
                      button(id=`edit-${review.id}`).edit-review Edit
                    div.bg-modal2.hidden
                      form(id=`edit-review-form-${review.id}` class="hidden edit-review-form form-control")
                        div.edit-form-star-rating
                          button.star &#9734
                          button.star &#9734
                          button.star &#9734
                          button.star &#9734
                          button.star &#9734
                        +field("Comment", "comment", null, false, "textarea")
                        +field("Date Hike", "dateHike", null, false, "date")
                        div.errors
                        div.edit-review-buttons
                          button#edit-review-cancel.btn Cancel
                          button#edit-review-submit.btn  Submit
                    .bg-modal3.hidden
                      form(id=`delete-review-form-${review.id}` class="hidden delete-review-form form-control")
                        .text
                          p Are you sure you want to delete this review?
                        div.delete-review-buttons
                          button#delete-review-cancel.btn Cancel
                          button#delete-review-submit.btn  Delete
      div.hike-side
        div.hike-tags-wrap
          div.hike-tags-title Features
          div.hike-tags
            each tag in hike.Tags
              div.hike-tag #{tag.name}
        div.hike-add-collection
          div.hike-add-collection-title Collections
          if collections
            div.hike-collection-wrap
              if collections[0].inCollection
                button.hike-coll-want Want To Hike
                  span.checkMk ✓
              else
                button.hike-coll-want Want To Hike
                  span.checkMk
              button.hike-coll-arrow
                i.fa-solid.fa-angle-down
              div.bg-modal-dropdown.hidden
              div.dropdown-menu.hidden
                div.dropdown-collections
                  each collection in collections
                    div.dropdown-item
                      input.coll-ckbx(type="checkbox" checked=collection.inCollection id=`collectionId-${collection.id}`)
                      label.coll-label(for=`collectionId-${collection.id}`) #{collection.name}
                div.dropdown-divider
                  div.add-collection-title Add New Collection
                  div.add-collection-frm
                    input.add-collection-input(type="text" name="add-new-coll" id="add-new-coll")
                    button.btn.btn-sm#add-collection Add
                div.dropdown-bottom#update-collect Update Collection(s)
              div.update-status
          else
            div.no-dropdown-login
              div
                a.btn.btn-nav(id="user-login" href='/users/login') Login
              div.update-status Login to use our collections
