mixin validationErrorSummary(errors)
  if errors
    div.div-errors
      p The following error(s) occurred:
      ul
        each error in errors
          li= error

mixin field(labelText, fieldName, fieldValue, requiredField = false, fieldType = 'text', placeholder = null)
  div
    label.label(for=fieldName)= labelText
    if fieldType === 'textarea'
      textarea(id=fieldName name=fieldName)= fieldValue
    else
      input.input(type=fieldType id=fieldName name=fieldName value=fieldValue placeholder=placeholder required=requiredField)

//- SEARCH PAGE MIXINS
mixin dropDown(keyword, buttonText)
  div.search-button-container
    button(id=`${keyword}-button`).btn.search-toggle #{buttonText}
      span(class="material-icons-outlined") expand_more
    div(id=`${keyword}-menu`).toggle-popup.hidden
      form.inner-popup(action="/search" method="get" )
        div.options-container(id=`options-${keyword}`)
          block
        div.menu-bottom
          button.btn.menu-btn.clear-filters(type="reset" name="clear" value="clear" id=`menu-clear-${keyword}`) Clear
          button.btn.menu-btn.search-filters(type="submit" id=`menu-submit-${keyword}`) See Results

mixin radio(idName, groupName, value, radioText, conditional)
  if(conditional==="true")
    div
      label(for=`${idName}-radio`)
        div.radio-container
          input(type="radio" id=`${idName}-radio` name=groupName value=value checked="checked")
          div #{radioText}
  else
    div
      label(for=`${idName}-radio`)
        div.radio-container
          input(type="radio" id=`${idName}-radio` name=groupName value=value)
          div #{radioText}

mixin checkbox(idName, groupName, value, checkText,conditional)
  if(conditional==="true")
    div
      label(for=`${idName}-check`)
        div.check-container
          input(type="checkbox" id=`${idName}-check` name=groupName value=value checked="checked")
          div #{checkText}
  else
    div
      label(for=`${idName}-check`)
        div.check-container
          input(type="checkbox" id=`${idName}-check` name=groupName value=value)
          div #{checkText}

mixin range(idName, min, max, value, name, minText, maxText)
  div
    label(for=`${idName}-range`)
      div.range-container
        div.range-labels
          span(id=`${idName}-min`) #{minText}
          span(id=`${idName}-max`) #{maxText}
        div.input-range-container
          input.range(type="range" min=min max=max value=value id=`${idName}-range` name=name)
